
.block{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.navigation{
    margin-top: 20px;
}

.randomchar {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);

    &__btns {
        a:nth-child(1) {
            margin-right: 30px;
        }
    }
}